<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="Инструмент отправки быстрых зарисовок">
<meta name="keywords" content="Нарисовать, скетч, схему, план, зарисовку, отправить, онлайн, редактор">
<meta name="author" content="Tojefin">
<meta name="publisher-email" content="skyedge.xyz">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Стили и визуал -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="css/main.min.css">
<!-- Скрипты -->
<script defer src="js/main.js"></script>
